img{
    border: 1px solid grey;
    border-radius: 50px;
    width: 20%;
}
h1{
    font-family: Amiri, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: black;
    text-align: center;
}
body{
    font-family: Carlito, serif;
    background-color: lightsteelblue;
    text-align: center;
}
ul{
    list-style-type: square;
    margin-left: 33%;
    margin-right: auto;
    border: 1pt dotted grey;
    width: 30%;
}
ol{
    margin-left: 22%;
    margin-right: auto;
    border: 3pt dotted darkolivegreen;
    width: 50%;
    border-radius: 20px;
}
footer{
    text-align: right;
    color: firebrick;
}
div{
    font-size: large;
}
nav{
    font-size: large;
    display: flex;
    margin-left: 46%;
    gap: 8px;
}