img{
    border: 1px solid grey;
    border-radius: 50px;
    width: 20%;
}
h1{
    font-family: Amiri, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: black;
    text-align: center;
}
body{
    font-family: Carlito, serif;
    background-color: lightsteelblue;
}
ul{
    list-style-type: square;
    margin-left: 5%;
    border: 1pt dotted grey;
    width: 30%;
}